/******************************************
**ESTILOS PARA PÁGINA DE THE COFFEE HOUSE** 
******************************************/

/********************
**ESTILOS GENERALES**
********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Lobster Two', sans-serif;
    margin: 0;
    padding: 0;
    /* background: #323232; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}


/*************** 
**PÁGINA INDEX** 
***************/
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url(../imagenes/cafe-en-la-mesa.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fffdfc;
    font-size: 25px;
    font-weight: 700;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #ce967b;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}


/*********
**HEADER** 
**********/
.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #ce967b;
    color: #f9fafc;
    /* text-transform: uppercase; */
}

.btn-2 {
    display: inline-block;
    padding: 11px 35px;
    margin-top: 20px;
    background-color: #ce967b;
    color: #f9fafc;
    /* text-transform: uppercase; */
}

.btn-1:hover {
    background-color: #ebad8d;
}

.coffee {
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}

.coffee-content {
    text-align: center;
}

.coffee-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    /* text-transform: uppercase; */
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.coffee-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.coffee-1 {
    padding: 0 25px;
}

.coffee-1 img {
    width: 200px;
    border-radius: 10%;
}

.coffee-img {
    position: absolute;
    top: 0;
    right: 0;
}

.coffee-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}


/********************
**SECCIÓN SERVICIOS** 
********************/
.services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url(../imagenes/cafetera-industrial.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content {
    text-align: center;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    /* text-transform: uppercase; */
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 55px;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: #eaccb3;
    font-size: 18px;
}


/**********
**REJILLA** 
**********/
.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 100px 100px 100px;
    background-color: #e1e2e6;
}

.general-2 {
    background-image: url(../imagenes/granos-de-cafe1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(../imagenes/granos-de-cafe2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
}

.texto {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}


/********* 
**SPACES** 
*********/
.blog {
    padding: 100px 0;
    text-align: center;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3 {
    font-size: 25px;
    color: #323337;
}


/******************************** 
**FOOTER PARA TODAS LAS PÁGINAS** 
********************************/
.footer-legal ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.footer-legal li {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
}

.footer-legal p {
    display: inline;
    color: #ce967b;
    font-weight: bold;
}

.footer-legal {
    grid-column: 1 / 3;
    padding: 2em;
    background: #404639;
    text-align: center;
    color: #9DA298;
}

.footer-legal a {
    color: #9DA298;
    text-align: center;
}

.footer-legal a:hover {
    color: #FFF;
}

.footer-legal a:first-of-type {
    margin-left: 2rem;
}


/**************************************************************
**HEADER PÁGINAS CARRITO, CONTACTOS, LOCALIZACIÓN Y PRODUCTOS** 
**************************************************************/
.header1 {
    background-color: #ce967b;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.header1 h1 {
    font-size: 35px;
}

.header1 a {
    color: #fffdfc;
    text-decoration: none;
}

.header1 a:hover {
    color: #682d10;
}

.header1 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header1 nav li {
    display: inline;
    margin-right: 15px;
}

.header1 nav li:last-child {
    margin-right: 0;
}


/********************************
**CONTENIDO DE PÁGINA PRODUCTOS** 
********************************/
h2.producto {
    font-size: 35px;
    text-align: center;
}

main.product-flex {
    display: flex;
    flex-wrap: wrap;
    /* Cambiamos flex-wrap a wrap para forzar el ajuste en filas */
    justify-content: space-between;
    /* Añadimos espacio entre las columnas */
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.product {
    display: flex;
    flex-direction: column;
    /* Para que los elementos hijos se organicen en columna */
    justify-content: space-between;
    /* Para que el contenido principal ocupe el espacio disponible */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: calc(33.33% - 20px);
    /* Ancho aproximado de un tercio del contenedor */
    margin-bottom: 20px;
    /* Espacio inferior entre filas */
}

.product img {
    /* max-width: 100%; */
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* Opcional: añade bordes redondeados */
}

.product h3 {
    margin-top: 15px;
    /* Separa el <h3> de la imagen unos 15px */
    font-size: 1.5em;
    /* Opcional: ajusta el tamaño de la fuente */
    color: #333;
    /* Opcional: color del texto */
}

.descripcion {
    margin: 10px 0;
    /* Añadimos un margen superior e inferior */
}

.precio {
    font-weight: bold;
}

.comprar-btn {
    padding: 5px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #694C41;
    color: #ccc;
    cursor: pointer;
}


/******************************************
**CONTENIDO DE PÁGINA CARRITO ANIMACIONES** 
******************************************/
.product img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* Opcional: añade bordes redondeados */
    box-shadow: none;
    /* Sin sombra por defecto */
}

.product img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
    /* Sombra gris suave */
}



/******************************
**CONTENIDO DE PÁGINA CARRITO** 
******************************/
.carrito2 h2 {
    font-size: 35px;
    margin-left: 20px;
}

.carrito2 li {
    margin-left: 30px;
    margin-bottom: 10px;
}

.carrito2 .comprar-btn {
    background-color: #b8a713;
    display: block;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #fff;
}

.carrito2 .comprar-btn:hover {
    background-color: #694C41;
}

.carrito2 button {
    padding: 5px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #694C41;
    color: #ccc;
    cursor: pointer;
}

.boton-enlace {
    display: inline-block; /* Hace que el botón solo ocupe el espacio necesario para el texto */
    padding: 10px 20px; /* Ajusta el padding según el diseño que desees */
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #b8a713;
    border-radius: 5px;
    border: none;
    white-space: nowrap; /* Asegura que el texto no se rompa en varias líneas */
}

.boton-enlace:hover {
    background-color: #c3b534;
}



/* Estilos para el pop-up */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.popup-cerrar {
    background-color: #ce967b;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.popup-cerrar:hover {
    background-color: #ebad8d;
}



/********************************
**CONTENIDO DE PÁGINA CONTACTO** 
********************************/
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.contact-form .titulo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.contact-form p {
    text-align: center;
    margin-top: 5px;
}

.header1,
footer {
    flex-shrink: 0;
    /* Previene que se encojan */
}

/* Centrado del formulario */
main.formulario {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilos del contenedor del formulario */
.contact-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    /* Ajusta el ancho máximo según sea necesario */
}

.contact-form p {
    font-family: 'Lobster Two', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.contact-form .campos {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #45a049;
}

.mensajes-error {
    color: red;
    font-size: 0.9em;
}

.asterisco {
    color: red;
}

/* Estilos para la sección de aceptación de cláusulas */
.contact-form .campos.checkbox {
    display: flex;
    align-items: center;
}

.contact-form .campos.checkbox label {
    display: inline;
    margin-left: 5px;
}

.contact-form .campos.checkbox a {
    margin-left: 5px;
}

.contact-form .campos.checkbox .mensajes-error {
    display: block;
    margin-left: 5px;
    font-size: 0.9em;
    color: red;
}


/***********************************
**CONTENIDO DE PÁGINA LOCALIZACIÓN** 
***********************************/
.intro {
    text-align: center;
}

.mapa {
    text-align: center;
    margin-top: 10px;
}

.mail a {
    color: #000;
}

.mail a:hover {
    color: #694C41;
}

.zonaContacto {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
